.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu ul {
    display: flex;
    gap: 20px;
}

/* Screen width up to 600px */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        flex-direction: column;
    }
}
